.coulum-table {
    width: 15%;
}
.table-course {
    width: 70%;
    margin:auto;
    margin-top: 5%;
}
.Add-course {
    width: 150px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : white;
    display : flex;
    justify-content:center;
    align-items: center;
}
  .Add-course:hover {
        cursor: pointer;
        transform: scale(1.2,1.2) !important;
   }

