@model Student
<a asp-action="AssignCourse" asp-route-Id="@Model.StudentId">

	<div  class="animate__animated animate__backInLeft Add-course">
		Assign To Course
	</div>
</a>

<p style="font-size:25px; color:green;">@TempData["op"]</p>
<h1 class="text-center">Courses You Assigned</h1>

<table class="table table-dark table-striped table-course">
	<thead>
		<tr>
		
			<td>Course Name</td>
		</tr>

	</thead>

	@{
		foreach (var c in Model.courses)
		{
			<tr>
				
				<td>@c.CourseName</td>
				
			</tr>
		}
	}

</table>