@model CourseStudent
<h1 class="text-center">Choose Your Course </h1>  
<h3 class="text-danger">@TempData["op"]</h3>
<form asp-action="AssignCourse">
        
    <input hidden asp-for="StudentId"/>
    <div class="mb-3 col-lg-6">
        <label asp-for="CourseId" class="form-label">Choose course</label>
        <select asp-for="CourseId" class="form-select">
            @{
                foreach (var t in Model.courses)
                {
                    
                    <option  value="@t.CourseId">@t.CourseName</option>
                }
            }

        </select>
    </div>
    <div class="d-flex col-lg-6">
        <span class="col-lg-6 d-flex justify-content-center">

            <button type="submit" class="btn btn-primary">Select</button>
        </span>
        <span class="col-lg-6 d-flex justify-content-center">

            <button asp-controller="Student" asp-action="Account" asp-route-id="@Model.StudentId" class="btn btn-primary">Return Your Account</button>
        </span>
   </div>
</form>
